/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
 
 .wp-block-cb-carousel {
    position: relative;

    .slick-slide {
        overflow: hidden;
        padding-left: 7.5px;
        padding-right: 7.5px;
    }

    .slick-dots {
        position: absolute !important;
        bottom: var(--dots-bottom) !important;
        width: 100%;
        bottom: var(--dots-bottom, -35px);

        li {
            margin: 0 4px;

            button {
                width: 12px;
                height: 12px;
                padding: 0;
                border: 2px solid #000;
                border-radius: 50%;
                background: transparent;

                &::before {
                    display: none;
                }

                &:not(:hover):not(:active) {
                    background-color: transparent;
                }

                &:hover {
                    background: rgba(0, 0, 0, 0.5);
                }
            }

            &.slick-active button {
                background: #000;
            }
        }
    }

    .slick-next,
    .slick-prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        cursor: pointer;
        z-index: 1;
        border: none;
        border-radius: 50%;
        background: var(--arrow-background, rgba(255, 255, 255, 0.8));

        &:not(:hover):not(:active) {
            background-color: var(--arrow-background, rgba(255, 255, 255, 0.8));
            &::before {
                color: var(--arrow-color, #000);
            }
        }

        &:hover {
            background: var(--arrow-hover-background, rgba(255, 255, 255, 1));
            &::before {
                color: var(--arrow-hover-color, #000);
            }
        }

        &::before {
            color: var(--arrow-color, #000);
            font-size: 20px;
            opacity: 0.75;
        }
    }

    .slick-prev {
        left: 25px;
    }

    .slick-next {
        right: 25px;
    }

    &.alignfull {
        .slick-next,
        .slick-prev {
            z-index: 1;
        }
        .slick-prev {
            left: 25px;
        }
        .slick-next {
            right: 25px;
        }
    }

    .wp-block-cover,
    .wp-block-image {
        margin-bottom: 0;
        &.aligncenter {
            margin-left: auto !important;
            margin-right: auto !important;
        }
    }
}

.is-layout-flex {
    .wp-block-cb-carousel {
        width: 100%;
    }
}
