/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
 
 .wp-block-cb-carousel {
    .slick-slide {
        overflow: hidden;
        padding-left: 7.5px;
        padding-right: 7.5px;
    }

    .slick-dots {
        li {
            button {
                &:not(:hover):not(:active) {
                    background-color: transparent;
                }
            }
        }
    }

    .slick-next,
    .slick-prev {
        &:not(:hover):not(:active) {
            background-color: transparent;
        }
        &::before {
            color: #000;
        }
    }

    &.alignfull {
        .slick-next,
        .slick-prev {
            z-index: 1;
        }
        .slick-prev {
            left: 25px;
        }
        .slick-next {
            right: 25px;
        }
    }

    .wp-block-cover,
    .wp-block-image {
        margin-bottom: 0;
        &.aligncenter {
            margin-left: auto !important;
            margin-right: auto !important;
        }
    }
}

.is-layout-flex {
    .wp-block-cb-carousel {
        width: 100%;
    }
}
